
#v-outer {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}

#v-container {
    height:100%;
    width:100%;
    display:table;
}

#v-cell {
    vertical-align:middle;
    height:100%;
    display:table-cell;
}

html, body {
    width:100%;
    height:100%;
}

html, button, input, select, textarea, section,
.pure-g [class *= "pure-u"] {
    font-family: 'Roboto', sans-serif;
}

i {
    color: #2e2e2e;
    transition-property: all;
    transition-delay: 1s;
}

.light {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.linkedIn:hover {
    color: #0077B5;
    transition-property: all;
    transition-delay: 1s;
}

.gitHub:hover {
    color: #000000;
    transition-property: all;
    transition-delay: 1s;
}

.stackOverflow:hover {
    color: #FF9900;
    transition-property: all;
    transition-delay: 1s;
}

.googlePlus:hover {
    color: #dd4b39;
    transition-property: all;
    transition-delay: 1s;
}

.phone:hover {
    color: #00A000;
    transition-property: all;
    transition-delay: 1s;
}

.text-center {
    text-align: center;
}


